* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 10%;
}

/* Image Styles */
img.img-fluid {
    max-width: 100%;
    height: auto;
}

.card {
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

/* Form Control */
.form-control {
    border-radius: 10px;
}

.btn {
    background-color: #F69074;
    border-color: #F69074;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
    }
    .container {
        margin-top: 20%;
    }
    .img-fluid {
        width: 80%;
        margin: 0 auto;
    }
}
